@import '~antd/dist/antd.less';

.Container {
    display: flex;
    .NavLeft-container {
        height: calc(100vh);
        .NavLeft{
            background-color: yellow
        }
    };

    .Content-container {
        flex: 1;
        background-color: pink;
        height: calc(100vh);
        .header {
            background-color: aqua;
        }
        
        .Content {
            background-color:darkblue;
            position :relative;
            padding:20px;
        }
        
        .footer {
            background-color: coral
        }
    }
}




















